.venv/
__pycache__/
*.pyc
.env
.DS_Store
.idea/
.vscode/
logs/
*.log
test-results/
test-runs/
figures/
*.aux
*.log
*.out
*.blg
*.fls
*.bbl
*.fdb_latexmk
*.synctex.gz

report/main.xdv
report/main.synctex(busy)
